@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Public+Sans:wght@300;400&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'nunito', sans-serif;
    background-color: rgb(1, 1, 107);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    color: white;
    background-color: rgb(170, 1, 1);
    border-bottom: 2px solid rgb(220, 220, 0);
}

.navbar li {
    list-style: none;   
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: rgb(220, 220, 0);;
    text-decoration: overline;
}

.main {
    margin: 4rem auto;
    width: 80vw;
    height: 80vh;
    background-image: url(/11D4843C-CE0E-4137-A11C-19CECE8DEDF1_1_105_c.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    border: 3px solid rgb(220, 220, 0);
    border-radius: 1rem;
    
}

.main .title {
    color: white; 
    font-size: 3rem;
    margin-top: 0;
    padding: 3rem;
    text-align: right;
    opacity: 1;
}

.main .papi {
    color: white;
    text-align: right;
    padding: 1rem 3rem;
    opacity: 1;
    text-decoration: underline;
}

.map {
    background-image: url(/homepage.jpeg);
    width: 80vw;
    height: 80vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    margin: 4rem auto;
    border: 3px solid rgb(220, 220, 0);
    border-radius: 1rem;
}

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'one two three'
    'four five six'
    'seven eight nine'
    'ten eleven twelve';
    justify-items: center;
    align-items: center;
    padding-top: 5rem;
    grid-gap: 3rem;
    width: 80%;
    margin: 0 auto;
}

.grid a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: rgb(170, 1, 1);
    padding: 1rem;
    border: 2px solid rgb(220, 220, 0);
    border-radius: 1rem;
}

.grid a:hover {
    background-color: rgb(1, 1, 107);
    border-radius: 2rem;
    transition: all ease-in-out 400ms;
}

.one {
    grid-area: one;
}

.two {
    grid-area: three;
}

.three {
    grid-area: four;
}

.four {
    grid-area: six;
}

.five {
    grid-area: seven;
}

.six {
    grid-area: nine;
}

.seven {
    grid-area: eleven;
}

/* Seperate Maps */

.medellin {
    width: 80vw;
    max-height: 80vh;
    margin: 4rem auto;
    padding: 2rem;
    border: 3px solid rgb(220, 220, 0);
    border-radius: 1rem;
    background-color: rgb(170, 1, 1);
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 1rem;
}

.map-photos {
    width: 50vw;
    max-height: 70vh;
    border-radius: 1rem;
    border: 2px solid rgb(1, 1, 107);
}

.medellin button {
    padding: .5rem 1rem;
    background-color: rgb(220, 220, 0);
    border: 2px solid rgb(220, 220, 0);
    border-radius: 1rem;
    text-transform: uppercase;
}

.medellin button a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
}

.medellin button a:hover {
    color: white; 
}

.medellin button:hover {
    cursor: pointer;
    background-color: rgb(1, 1, 107);
    transition: all ease-in-out 300ms;
}

/* Medellin Page */

.nonnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(170, 1, 1);
    color: white;
    border-bottom: 2px solid rgb(220, 220, 0);
}

.nonnav h1 {
    font-size: 3vw;
}

.nonnav h2 {
    font-size: 2.5vw;
}

.photos {
    width: 90vw;
    margin: 0 auto;
}

.photos img {
    width: 50vw;
    height: auto;
    display: block;
    margin: 1rem;
    border: 2px solid rgb(220, 220, 0);
    border-radius: 1rem;
}

.photos .img2 {
    margin-left: auto;
}

.caption {
    display: block;
    color: white; 
    margin: 1rem;
}

.caption2 {
    text-align: right;
}

/* Media Qs */

@media screen and (max-width: 800px) {
    .container1 {
        flex-direction: column;
    }

    .medellin {
        max-height: 100vh;
    }

    .grid {
        grid-gap: 4rem;
    }
    .grid a {
        padding: .5rem;
        font-size: .8rem;
    }
}

@media screen and (max-width: 600px) {
    .grid {
        grid-gap: 3rem;
        margin-left: 15px;
    }
}